@{
  Layout = null;
}

@model GuestContact

<p>Hello guest</p>

<p>Name: @Model.Name</p>
<p>Email: @Model.Email</p>
<p>Phone number: @Model.Phone</p>



<form asp-controller="Home" asp-action="Contact" method="post">
  <p>Name: <input asp-for="@Model.Name" /></p>
  <p>Email: <input asp-for="@Model.Email" /></p>
  <p>Phone number: <input asp-for="@Model.Phone" /></p>

  <button type="submit">Submit</button>
</form>

<form action="/" method="post">
  <p>Name: <input type="text" name="name" value="Manish Agrawal" /></p>
  <p>Email: <input type="text" name="email" value="magrawal@usf.edu" /></p>
  <p>Phone number: <input type="text" name="phone" value="813-974-6716" /></p>

  <button type="submit">Submit</button>
</form>

<a href="/home/index">Home page in html</a>
<p>

</p>

<a
  asp-controller="Home" 
  asp-action="Contact">
  Home page
</a>